<!DOCTYPE html>
<html lang="en">
<head profile="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/style.css", media: 'all' %>
  <%= render 'shared/page_header' %>
</head>
<body style="<%= this_blog.body_styles %>">
<div style="<%= this_blog.page_styles %>" class="container-fluid  taco-flacko-container">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class='navbar-header'>
        <%= link_to(this_blog.blog_name, this_blog.base_url, class: 'navbar-brand') %>
      </div>
      <ul class='nav navbar-nav'>
        <%- Page.published.each do |page| %>
          <li><%= link_to_permalink(page, page.title) %></li>
        <%- end %>
      </ul>
    </nav>
    <nav class="navbar navbar-default" role="navigation">
      <div class="col-xs-12">
        <ul class='nav navbar-nav sub-nav list-inline'>
          <%- Tag.order('display_name').each do |tag| %>
            <li><%= link_to_permalink(tag, tag.display_name) %></li>
          <%- end %>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!--Use vertical align with the logo -->
<!--http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/-->
<%= content_tag :div, id: 'logo', style: (this_blog.page_styles + this_blog.logo_styles), class: "container-fluid" do %>
  <div class='vertical' style="<%= this_blog.logo_height %>">
    <div class="logo-name" style="margin-bottom:0px;">
      <%= link_to(this_blog.blog_name, this_blog.base_url) %>
    </div>

    <div class="logo-subtitle" style="margin-top:0px;line-height: 0px;font-size: 2em;">
      <%= this_blog.blog_subtitle %>
    </div>
  </div>
<% end %>

<%= yield :header %>

<div class='container-fluid taco-flacko-container' id='page' style="<%= this_blog.page_styles %>">
  <div class='col-sm-8'>
    <%= yield %>
  </div>
  <div class='col-sm-4' id='sidebar'>
    <%= render_sidebars %>
  </div>
</div>
<p class="text-center">
  <small>Powered by <a href='http://www.thatmusicblog.com'>ThatMusicBlog</a></small>
</p>
</body>
</html>
